#header
	a(href="/") 
		h1.floatLeft VentureCurious
	p.floatRight
		a(href="/") Home
		| \ // 
		a(href="/work") Work
		| \ //
		a(href="/about") About
		| \ // &copy; 2011 VentureCurious

#content
	p Travelers are awesome. They deserve awesome tools.
	p VentureCurious is the travel project of 
		a(href="http://twitter.com/#!/miles_matthias")@miles_matthias
	p This isn't a project started to be a cash cow. 
		| This isn't a project for fame and glory. 
		| This is a project to right a wrong.
	p Today, only the tech-savvy and time-laden travelers have the time and patience to do research and organize their schedule. They take hours upon hours to go to lots of great websites for the latest advice on the places to go. They traverse user review sites, professional newspapers, travel magazines, IRC chat rooms, all the wikis, and even watch some of the Travel Channel. Forty hours later they have a list of restaurants, parks, museums that they want to go to. Now how to fit that all into their schedule? Usually these people end up saying "Screw this" and they settle for being someone in the next category.
	p Everyone else. They have to deal with big companies, who looking to get a fee from a pre-made package, give you horrible options. Everyone else has to go to their hideous web pages where they try to tell you what you want your trip to be. "You like golfing and a spa day right?!" No big corporation! This is my trip! I'm going to tell you what I want to do! But they don't listen. Or care.
	p Enter VentureCurious. VentureCurious is a project geared towards equipping travelers with the tools they need to make their dream trip out of all of the great resources out there, without having to take off a week of work to do it. This is your vacation, your adventure, your journey - and you deserve to focus on how much fun it's going to be. Planning and organizing should be exciting and easy. Let us worry about the boring stuff.
	p VentureCurious.

#footer
