#header
	a(href="/") 
		h1.floatLeft VentureCurious
	p.floatRight 
		a(href="/") Home
		| \ // 
		a(href="/work") Work
		| \ //
		a(href="/about") About
		| \ // &copy; 2011 VentureCurious
		
	h3 Tell me about your dream trip...

#content
	form(action="/betaSearch",method="post")
		div
			input(id="searchBox",type="text",name="keywords",placeholder="Ex: romantic, local food, golf, adventure, awesome shopping")

		#destDateFields
			.destDateField
				.destDateLabel
					b Where are you going?
				.destDateValue
					input(id="dest",type="text",name="dest",placeholder="San Francisco")
			.destDateField
				.destDateLabel
					b When are you leaving?
				.destDateValue
					input(id="depart",type="text",name="depart",placeholder="MM/DD/YYYY")
			.destDateField
				.destDateLabel
					b When are you coming back?
				.destDateValue
					input(id="return",type="text",name="return",placeholder="MM/DD/YYYY")
	
		div
			input(id="submitButton",type="submit",value="Plan it!")

#footer
