#header
	a(href="/") 
		h1.floatLeft VentureCurious
	p.floatRight 
		a(href="/") Home
		| \ // 
		a(href="/work") Work
		| \ //
		a(href="/about") About
		| \ // &copy; 2011 VentureCurious

#content
	h4 Want to join the work on VentureCurious? I'm looking for...
	
	.jobTitle Co-Founder
	p Tech nerd? Marketing Awesomeness? Love travel? We should talk.
	
	p.right Email your resume to miles [at] venturecurious.com.

#footer
