#header
	a(href="/") 
		h1.floatLeft VentureCurious
	p.floatRight 
		a(href="/") Home
		| \ // 
		a(href="/work") Work
		| \ //
		a(href="/about") About
		| \ // &copy; 2011 VentureCurious

#content
	h3 Thanks!

#footer
