.topbar
  .fill
    .container
      a.brand(href='#') VentureCurious
      ul.nav
        li.active
          a(href='#') Home
        li
          a(href='#about') About
        li
          a(href='mailto:miles@venturecurious.com') Contact
.container
  // Main hero unit for a primary marketing message or call to action 
  .hero-unit
    h1 "Chicken and Egg" Problem for Startups
    p
      | For lots of startups, one of the biggest challenges is getting enough 
      | initial users willing to give feedback. "Iterate, iterate, iterate." 
      | But without feedback from an early energetic crowd, the startup has nothing
      | to iterate on. VentureCurious is a simple newsletter aiming to connect startups 
      | and smart, early-adopters. Sign up below.
    p
      a.btn.primary.large(href='http://milesmatthias.tumblr.com/post/12516796745/app-idea-community-of-alpha-testers') Learn more »
  // Example row of columns 
  .row
    .span8
      h2 Sign up as a tester
      p
        | Submit your email address and you'll get a weekly newsletter of startups looking 
        | for smart early-adopters that can help them perfect their product!
      P
        | Also as a VentureCurious member, you'll get notified when we add features to 
        | help you find startups for every need in your life.
      p
        a.btn(href='#') Sign Up »
    .span8
      h2 Submit your startup
      p
        | Send us your startup's URL and we'll spread it around to our eager early-adopters 
        | to help you get users!
      p
        a.btn(href='#') Submit »
  footer
    p © VentureCurious 2011

